<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Roll Role</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ゲームマスター不要の役職振り分けツール" />
    <link rel="icon" href="assets/favicon.ico">
    <% var bulma = "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; %>
    <% var fas = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/solid.min.css"; %>
    <% var fontawesome = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css"; %>
    <link rel="preload" href="<%= bulma %>" as="style">
    <link rel="preload" href="<%= fontawesome %>" crossorigin="anonymous" as="style"/>
    <link rel="preload" href="<%= fas %>" crossorigin="anonymous" as="style">
    <%= scripts %>
    <link rel="stylesheet" href="<%= bulma %>">
    <link rel="stylesheet" href="<%= fontawesome %>" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= fas %>" crossorigin="anonymous"/>
    <meta name="google-site-verification" content="tJQeMoj4xVwB1EJLgex37cJldEncFjZUcrKuUHmgXBk" />
  </head>
  <body>
  </body>
</html>
